.button-btn {
    position: relative;
    padding: 10px 29px;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    transition-property: background-color, color;
    transition: var(--animation);
}

.button-btn:hover,
.button-btn:focus {
    background-color: #188CE8;
    color: #FFFFFF;
}