.social-footer {
    padding-top: 12px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width:1200px) {
            margin-bottom: 60px;
        }
}

.social-footer__list {
    display: flex;
    justify-content: center;
}

.social-footer__item {
    margin-right: 10px;
}

.social-footer__link {
    color: rgba(255, 255, 255, 0.1);
    fill: rgba(255, 255, 255, 0.1);
    transition: var(--animation);
}



.social-footer__link:hover,
.social-footer__link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);

}

.social-footer__icon {
    fill: currentColor;
}

.social-footer__title {
    
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    @media screen and (max-width:1200px) {
            text-align: center;
        }
}