.hero .conteiner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    max-width: 1600px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    // mobile scren
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                                      rgba(47, 48, 58, 0.4)),
            url(../../img/compres-mobile/Header-img-min.jpg);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
     background-image: url(../../img/compres-mobile/Header-img@2x-min.jpg);       
        }
// tablet scren
    @media screen and (min-width:768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                 rgba(47, 48, 58, 0.4)),
             url(../../img/compres-tablet/Header-img-min.jpg);
                
         @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../../img/compres-tablet/Header-img@2x-min.jpg);
        }
                }
// desktop scren
        @media screen and (min-width:1200px) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../../img/compres-desk/hero-min.jpg);
            
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(../../img/compres-desk/hero@2x-min.jpg);
                }
        }
}

.hero-title {
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    @media screen and (max-width: 480px) {
            font-size: 25px;
        }
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--next-text-color)
    
   
}